{% extends "layout.twig" %}

{% block content %}
  
</section>
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-xs-12">
      <!-- general form elements -->


      <div class="col-xs-12">
        <div class="alert alert-primary" role="alert" style="color:#FF0000; font-size:25px;">
          {{ responseMessage }}
        </div>
      </div>
      
{% endblock %}